<div ng-init='DC.getServer()'>
	<div class='row'>
		<div class='col-md-3'>
		</div>
		<div class='col-md-6 server'>
			<h3>Server {{ DC.server.name }}</h3>
			<h4>Id</h4><h6> {{ DC.server.id }}</h6>
			<h4>Response Time</h4><h6> {{ DC.server.responseTime }}</h6>
			<h4>OS</h4><h6> {{ DC.server.os }}</h6>
			<h4>Memory</h4><h6> {{ DC.server.memory }}</h6>
			<h4>CPU</h4><h6> {{ DC.server.cpu }}</h6>
			<h4>Temp</h4><h6> {{ DC.server.temp }}</h6>
		</div>
		<div class='col-md-3'>
		</div>
	</div>
</div>